.dashboardContainer {
  display: flex;
}

.leftContainer {
  width: 100%;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.head {
  background-color:  #EBEAFF;
  margin: 2rem;
  padding: 2rem 3rem;
  padding-bottom: 1rem;
  border-radius: 15px;
}

.head p {
  font-size: 16px;
}