.greeting p {
  color: var(--gray);
}

.linedContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border-bottom: 2px solid var(--lightgray);
}

.container {
  padding: 1rem 2rem;
  width: 100%;
}

.greeting {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

.greeting h2 {
  margin: 0;
}

.greeting p {
  margin: 0;
}

.icon {
  display: flex;
  align-items: center;
  gap: 30px;
  color: var(--gray);
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid var(--lightgray);
  border-radius: 15px;
  margin: 1rem;
  padding: 0 0.8rem;
  margin: 1rem 0 1rem 1rem;
}

.profileIcon {
  color: var(--gray);
} 

.end {
  display: flex;
  gap: 20px;
}