
.header{
    text-align: left;
    color: #1d2854;
    font-style: Bold;
    font-size: 40x;
    width: 100%;
    height: 46;
    margin-left: 5rem;
    padding: 0.4rem 0.8rem;
    padding-top: 48px;
}

.form{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;

  
}

.flexcontainer {
    display: flex;
    column-gap: 5px;
    margin: 0 5rem;
  }

  .flexcontainer> div {
    margin: 15px 10px;
    font-size: 10px;
}


  .flexcontainer input{
    height: 50px;
    width: 100%;
    background: #FFFFFF;
    border: 2px solid lightgrey;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding: 12px 20px;

  }

  .flexcontainer textarea{
    background: #FFFFFF;
    border: 2px solid #C1C7D0;
    border-radius: 10px;
    font-size: 18px;
    box-sizing: border-box;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 500px;
    height: 150px;
    padding: 12px 20px;
    resize: none;

  }

  .PN{
    width: 20%;
  }
  .Fname{
    width: 33% ;
  }
  .Lname{
    width: 33% ;
  }
  .Mname{
    width: 33% ;
  }
  .sex{
    width: 10%;

  }

  .DOB{
    width: 25%;

  }

  .add{
    width: 65%;
  }
  .Cno{
    width: 25%;
  }

  .GN{
    width: 50%;
  }
  .Gco{
    width: 25%;
  }

.Button1{
    cursor: pointer;
    transition-duration: 0.4s;
    border: none;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    border-radius: 10px;
    width: 283px;
    height: 59px;
  }
  
.Button2{
  cursor: pointer;
  transition-duration: 0.4s;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  font-family: 'Lato';
  font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 283px;
    height: 59px;
    background-color: #6C71F8;
    color: white;
}

.Button1:hover {
    background-color: #6C71F8;
    color: white;
  }

  .Button2:hover {
    background-color: #5459e6;
    color: white;
  }

.flexcontainer input::placeholder, .flexcontainer textarea::placeholder {
    font-family: 'Lato', sans-serif;
    font-size: 20px; 
    color: lightgray;  
} 

.DOB input{
  color: lightgrey; 
  font-size: 20px;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 25px;
  align-items: flex-end;
}