.patientsContainer {
  display: flex;
}

.leftContainer {
  width: 100%;
}

.table {
  margin: 2rem;
}

.actions {
  display: flex;
  gap: 2rem;
  width: 100%;
  justify-content: center;
}

.add {
  cursor: pointer;
  color: var(--purple);
  transition: all 300ms ease;
}

.add:hover {
  color: #4146c3;
}

.edit {
  color: #A0A4A8;
}

.delete {
  color: #FF6760;
}

.edit:hover {
  cursor: pointer;
  color: #7a7c7f;
  transition: all 300ms ease-in-out;
}

.delete:hover {
  cursor: pointer;
  color: #d05851;
  transition: all 300ms ease-in-out;
}

.pagination {
  font-family: 'Lato', sans-serif;
}

.pagination button {
  background-color: white;
  border: 1px solid var(--lightgray);
  padding: 0.5rem;
}

.pagination input {
  border: 1px solid var(--lightgray);
  padding: 0.5rem;
}

.patientTable {
  display: relative;
  border-radius: 15px; 
  width: 100%;
}

.filter {
  padding: 0.8rem 1rem;
  border: 1px solid var(--gray);
  width: 25rem;
  outline-color: var(--gray);
}

.filter:hover {
  border-color: var(--lightgray);
  transition: all 200ms ease;
  outline-color: var(--gray);
}

.filter:focus {
  outline-color: var(--gray);
}


.searchContainer {
  width: 100%;
  display: flex;
  justify-content: end;
  margin: 1rem 0;
  align-items: center;
  gap: 20px;
}

.btnAddPatient {
  background-color: var(--purple);
  border-radius: 100%;
  padding: 1rem;
  border: none;
  cursor: pointer;
  transition: all 300ms ease;
}

.btnAddPatient:hover {
  background-color: #585de0;
}

.addPatient {
   color: white;
}

.noHistory {
  display: flex;
  justify-content: center;
}

.noHistory p {
  color: var(--gray);
  border: 2px solid var(--gray);
  padding: 1rem 2rem;
  width: 30%;
  text-align: center;
  border-radius: 10px;
  margin-top: 3rem;
}

.delete {
  background: none;
  border: none;
}